IsPrime.asl.json
{
  "Comment": "Check if the number in the parameter 'x' is a prime number. Values of x from 1-1000 (inclusive) are supported.",
  "StartAt": "Add starting y",
  "States": {
    "Add starting y": {
      "Type": "Pass",
      "Next": "Create Array Range",
      "Result": {
        "y": 2
      },
      "ResultPath": "$.proc"
    },
    "Create Array Range": {
      "Type": "Pass",
      "Parameters": {
        "arr.$": "States.ArrayRange(1, $.x, 1)",
        "y.$": "$.proc.y"
      },
      "ResultPath": "$.proc",
      "Next": "Create Array Partition"
    },
    "Create Array Partition": {
      "Type": "Pass",
      "Parameters": {
        "part.$": "States.ArrayPartition($.proc.arr, $.proc.y)",
        "y.$": "$.proc.y"
      },
      "ResultPath": "$.proc",
      "Next": "Calculate Remainder"
    },
    "Calculate Remainder": {
      "Type": "Pass",
      "Parameters": {
        "rem.$": "States.ArrayLength(States.ArrayGetItem($.proc.part, States.MathAdd(States.ArrayLength($.proc.part), -1)))",
        "y.$": "$.proc.y"
      },
      "ResultPath": "$.proc",
      "Next": "Check Remainder"
    },
    "Check Remainder": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.proc.rem",
          "NumericEqualsPath": "$.proc.y",
          "Next": "Not Prime",
          "Comment": "No Remainder (Divisible)"
        }
      ],
      "Default": "Move to next y"
    },
    "Move to next y": {
      "Type": "Pass",
      "Parameters": {
        "y.$": "States.MathAdd($.proc.y,1)",
        "doubley.$": "States.MathAdd(States.MathAdd($.proc.y,$.proc.y), 2)"
      },
      "Next": "Should check y",
      "ResultPath": "$.proc"
    },
    "Should check y": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.proc.doubley",
          "NumericLessThanPath": "$.x",
          "Next": "Create Array Range",
          "Comment": "y*2 < x"
        }
      ],
      "Default": "Is Prime"
    },
    "Not Prime": {
      "Type": "Pass",
      "Parameters": {
        "x.$": "$.x",
        "prime": false
      },
      "End": true
    },
    "Is Prime": {
      "Type": "Pass",
      "Parameters": {
        "x.$": "$.x",
        "prime": true
      },
      "End": true
    }
  }
}
