PrimeFinder.asl.json

{
  "Comment": "Finds prime numbers between the parameters 'low' and 'high' (inclusive). 2-1000 are supported.",
  "StartAt": "Generate candidate array",
  "States": {
    "Generate candidate array": {
      "Type": "Pass",
      "Parameters": {
        "candidates.$": "States.ArrayRange($.low, $.high, 1)"
      },
      "Next": "For each candidate"
    },
    "For each candidate": {
      "Type": "Map",
      "ItemsPath": "$.candidates",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Call IsPrime with candidate",
        "States": {
          "Call IsPrime with candidate": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sfn:startSyncExecution",
            "Parameters": {
              "StateMachineArn": "arn:aws:states:eu-west-1:{account_id}:stateMachine:{isprime_sm_name}",
              "Input": {
                "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                "x.$": "$"
              }
            },
            "Next": "Parse IsPrime output"
          },
          "Parse IsPrime output": {
            "Type": "Pass",
            "Parameters": {
              "output.$": "States.StringToJson($.Output)"
            },
            "OutputPath": "$.output",
            "End": true
          }
        }
      },
      "Label": "Foreachcandidate",
      "Next": "Filter prime numbers"
    },
    "Filter prime numbers": {
      "Type": "Pass",
      "Parameters": {
        "prime.$": "$[?(@.prime == true)].x"
      },
      "End": true
    }
  }
}
